@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --black: #121314;
}

nav {
  width: 100%;
  height: 80px;
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.185);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 10;

  > .nav-part1 {
    display: flex;
    align-items: center;
    gap: 15px;

    .search {
      background-color: rgba(255, 255, 255, 0.13);
      padding: 10px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0 10px;
        color: white;
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 50px;

    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      svg {
        stroke: white;
      }

      p {
        color: white;
      }
    }
  }

  .nav-right {
    display: flex;
    align-items: end;
    gap: 70px;

    .nav-right .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #c7c7cc;
      padding: 10px;
      border-radius: 50px;

      svg {
        stroke: rgb(241, 240, 240);
      }
    }
  }
}

section {
  width: 100%;
  background-color: var(--black);
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .filter-row {
    width: 60%;
    height: 100px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;

    a {
      text-decoration: none;
      font-size: 0.8vw;

      color: white;
      border: 1px solid white;
      padding: 8px;
      min-width: 100px;
      text-align: center;
      border-radius: 50px;
    }

    a:hover {
      background-color: rgba(255, 255, 255, 0.062);
    }
  }
}

.lense-container {
  width: 80%;
  height: auto;

  h2 {
    font-size: 0.9vw;
    font-weight: 550;
    color: white;
  }

  .row {
    margin: 50px auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .lense {
      width: 180px;
      height: 350px;
      position: relative;

      > img {
        width: 100%;
        height: 250px;
        background-color: rgba(255, 255, 255, 0.11);
        border-radius: 8px;
        object-fit: cover;
        object-position: center;
      }

      .avatar {
        width: 72px;
        height: 72px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -80%);
        overflow: hidden;
        padding: 3px;
        border: 1px solid var(--black);

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;

          border-radius: 50%;
        }
      }

      .text {
        margin-top: 20px;
        text-align: center;

        p:nth-child(1) {
          color: white;
          font-size: 0.8vw;
          font-weight: 500;
        }

        p:nth-child(2) {
          color: white;
          font-size: 0.8vw;
          font-weight: 500;
        }

        p:nth-child(3) {
          color: white;
          font-size: 0.6vw;
        }
      }
    }
  }
}
